


.vertical-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the desired gap between buttons */
}

.vertical-buttons button {
  width: 300px; /* Adjust the desired width of the buttons */
  height: 40px; /* Adjust the desired height of the buttons */
  /* Add any other desired button styles here */
}



.TransferMoney{
    
        position: absolute;
        left: 500px;
        color:blue
      
}

.Balance{

 position: fixed;
  top: 105px;
  left: 10;
  margin: 20px; /* Adjust this value for spacing if needed */  
}

.Name{

    position: fixed;
    top: 226px;
    margin: 15px;
    font-size: 20px;
}


.SignUp{
  position: fixed;
  top: 150px;
  font-size: 20px;
    position: fixed;
    top: 300px;
    margin: 15px;
    font-size: 20px;
}

.Amount{
    position: fixed;
    top: 380px;
    margin: 15px;
    font-size: 20px;
}

.Reason{
    position: fixed;
    top: 600px;
    margin: 15px;
    font-size: 20px;
}

.Option1{
    position: fixed;
    top: 160px;
    margin: 15px;
    font-size: 20px;
    color: crimson;
}

.Option{
    position: fixed;
    top: 190px;
    margin: 15px;
    font-size: 20px;
}

.Bank_Name{

    position: fixed;
    top: 450px;
    margin: 15px;
    font-size: 20px;

}

.Country{

    position: fixed;
    top: 519px;
    margin: 15px;
    font-size: 20px;
}

.Report{
    position: absolute;
        left: 500px;
        color:rgb(255, 0, 0)
}

.alert{

    position: fixed;
    top: 110px;
    margin: 15px;
    font-size: 20px;
}

.Description{

    position: fixed;
    top: 250px;
    margin: 15px;
    font-size: 20px;

}

.card{
    position: fixed;
    top: 300px;
    margin: 15px;
    font-size: 20px;
}

