nav {
    display: flex;
    flex-direction: column; /* Set the direction to vertical */
    padding: 10px;
    position: fixed;
    left: 0; /* Align the navbar to the left */
    top: 0; /* Position the navbar at the top of the page */
  }


.vertical-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the desired gap between buttons */
}

.vertical-buttons button {
  width: 300px; /* Adjust the desired width of the buttons */
  height: 40px; /* Adjust the desired height of the buttons */
  /* Add any other desired button styles here */
}



.TransferMoney{
    
    font-family:"Franklin Gothic Medium", sans-serif;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    left: 600px;
    top: 12px;
    color:rgb(18, 51, 53)   
  
}

.World{
        
    position: absolute;
    left: 110px;
    top: 200px;
    color:rgb(18, 51, 53)
}

.container {
    position: relative;
  }
  
  #myCard {
    position: absolute;
    top: 170px;
    left: 900px;
  }

 
.Customer{
    position: absolute;
    top: 321px;
    left: 170px;
    font-size: 20px;
} 

.Start{
    position: absolute;
    top: 321px;
    left: 110px;
    font-size: 20px;
}

.TransferOption{
    font-size: larger;
    color:rgb(7, 10, 106)
    
} 

.Balance{

 position: fixed;
  top: 105px;
  left: 10;
  margin: 20px; /* Adjust this value for spacing if needed */  
}

.Name{

    position: absolute;
    top: 0.2px;
    margin: 1px;
    font-size: 20px;
}

.Credit_Number{
    position: absolute;
    top:70px;
    margin: 1px;
    font-size: 20px;
}


.SignUp{
  position: fixed;
  top: 150px;
  font-size: 20px;
    position: fixed;
    top: 300px;
    margin: 15px;
    font-size: 20px;
}

.Amount{
    position: absolute;
    top: 140px;
    margin: 1px;
    font-size: 20px;
}

.Reason{
    position: absolute;
    top: 290px;
    right: 320px;
    margin: 15px;
    font-size: 20px;
}

.Option1{
    position: fixed;
    top: 160px;
    margin: 15px;
    font-size: 20px;
    color: crimson;
}

.Option{
    position: fixed;
    top: 190px;
    margin: 15px;
    font-size: 20px;
}

.Bank_Name{

    position: absolute;
    top: 210px;
    margin: 1px;
    font-size: 20px;

}

.Country{

    position: absolute;
    top: 290px;
    margin: 1px;
    font-size: 20px;
}

.Report{
    position: absolute;
        top: 50px;
        left: 500px;
        color:rgba(160, 28, 28, 0.888)
}

.alert{

    position: fixed;
    top: 110px;
    margin: 15px;
    font-size: 20px;
}

.Description{

    position: fixed;
    top: 250px;
    margin: 15px;
    font-size: 20px;

}

.card{
    position: fixed;
    top: 300px;
    margin: 15px;
    font-size: 20px;
}

#myNavbar {
    position: fixed;
    top: 10px;
    left: 0px;
  }

  #myAlert {
    position: absolute;
    top: 120px;
    left: 0;
  }

  #myEmail{
    position: absolute;
    top: 180px;
    left: 0;
  }

  #myCredit{
    position: absolute;
    top: 265px;
    left: 150px;
  }

  #myApply{
    position: absolute;
    top: 310px;
    left: 150px;
  }

  #myNotification{
    position: absolute;
    top: 310px;
    left: 150px;
  }
  .dropdownandbutton {
    position: absolute;
    height: 650px;
    top: 220px;
    left: 50px;
    zoom: 1.2;
}
.modalPop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal-contentPop {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.btnPop {
  display: inline-block;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btnPop:hover {
  background-color: #3e8e41;
}
.reminders{
  position: absolute; 
  top: 225px;
  left: 150px;
  font-size: 25px;
}
.reminderButton{
    margin: 10px;
}
.paybillbutton{
    margin: 10px;
    zoom: 1.2;
}
.billsHeading{
    position: absolute;
    color: rgb(11, 10, 74);
    top: 140px;
    left:75px; 
}
.reminderTitle{
  position: absolute;
  color: rgb(11, 10, 74);
  top: 70px;
  left:10px;  
}
#myDropdown option {
    font-size: 20px; /* Adjust the value as needed */
  }


  #myAdminButton{
    position: absolute;
    top: 320px;
    left: 6px;
 } 

 .AdminName{
    position: absolute;
    top: 244px;
    left: 5px;
    font-size: 25px;
 }

 .AdminEmail{
    position: absolute;
    top: 270px;
    left: 5px;
    font-size: 22px;
 }

 #myRevenue{
    position: absolute;
    top: 270px;
    left: 210px;
    font-size: 22px;
 }

 #myRevenue2{
    position: absolute;
    top: 270px;
    left: 510px;
    font-size: 22px;
 }

 #myRevenue3{
  position: absolute;
  top: 200px;
  left: 810px;
  font-size: 22px;
  width: 85rem;
}

 #myTechnical{
    position: absolute;
    top: 270px;
    left: 210px;
    font-size: 22px;
 }

 #myTechnical2{
    position: absolute;
    top: 270px;
    left: 510px;
    font-size: 22px;
 }

 #myTechnical3{
    position: absolute;
    top: 270px;
    left: 810px;
    font-size: 22px;
 }

 #myCustomer{
    position: absolute;
    top: 270px;
    left: 210px;
    font-size: 22px;
 }

 #myCustomer2{
    position: absolute;
    top: 270px;
    left: 510px;
    font-size: 22px;
 }

 #myCustomer3{
    position: absolute;
    top: 270px;
    left: 810px;
    font-size: 22px;
 }
 
  
 #myHome{

  position: absolute;
    top: 7px;
    left: 460px;
    font-size: 20px;
    
 } 
 
 #myHome2{
  position: absolute;
    top: 7px;
    left: 580px;
    font-size: 18px;
 }

 #myHome3{
  position: absolute;
    top: 7px;
    left: 758px;
    font-size: 18px;
 }

 #myHome4{
  position: absolute;
  top: 7px;
  left: 860px;
  font-size: 18px;
 }

 #myHome5{
  position: absolute;
  top: 7px;
  left: 990px;
  font-size: 18px;
 }

 #myLogin{
  position: absolute;
  top: 2px;
  left: 1200px;
  font-size: 22px;
 }

 .head{
  position: absolute;
    top: 200px;
    left: 800px;
    font-size: 35px;
    color: aliceblue;
 }

 #myCard2{
    position: absolute;
    top: 200px;
    left: 200px;
 }

 .head2{
  position: absolute;
    top: 680px;
    left: 490px;
    font-size: 28px;
    color: aliceblue;
 }

 #myProfile{
    position: absolute;
    top: 260px;
    left: 0px;
 }

 #v-pills-profile{
  position: absolute;
  top: 260px;
  left: 390px;
 }

 #v-pills-messages{
  position: absolute;
  top: 300px;
  left: 390px;
 }

#v-pills-settings{
  position: absolute;
  
  left: 390px;
}

 .content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-content {
  flex-grow: 1;
}

.right-content {
  flex-grow: 1;
}

#myNotification5{
  position: absolute;
    top: 310px;
    left: 650px;
}

#dropdownMenuLink{
  position: absolute;
    top: 30px;
    left: 50px;
}

#ButtonAccount{
  position:absolute;
  top: 90px;
}

#accountDetails1{
  position:absolute;
  top: 240px;
  left: 280px;
  width:18rem;
}

#accountDetails2{
  position:absolute;
  top: 240px;
  left: 580px;
  width:18rem;
}

#accountDetails3{
  position:absolute;
  top: 240px;
  left: 880px;
  width:18rem;
}

#newAccountForm{
  position: absolute;
  top: 350px;
  left: 230px;
}

#newAccountForm2{
  position: absolute;
  top: 390px;
  left: 230px;
}

#myNotification8{
  position: absolute;
  top: 90px;
  left: 850px;
}

#confirm{
  position: absolute;
  top: 0px;
  left: 230px;
}

#confirm2{
  position: absolute;
  top: 0px;
  left: 230px;
}

#accountLogo{
  position: absolute;
  top: 100px;
  left: 15px;
}

#buttonLogOut{
  position: absolute;
  top: 210px;
  left: 54px;
}

#accountFlex{
  position: absolute;
  top: 270px;
  left: 15px;
}

#AccountInfo{
  position: absolute;
  top: 260px;
  left: 215px;
}

#BillingInfo{
  position: absolute;
  top: 260px;
  left: 515px;
}

#SendProblem{
  position: absolute;
  top: 460px;
  left: 15px;
}

#myNewNotification{
  position: absolute;
  top: 200px;
  left: 650px;

}

#myNotification1{
  position: absolute;
  top: 60px;
  left: 700px;
  width: 50rem;
  height: 18rem;
}  
#myNotification5{
  position: absolute;
    top: 75px;
    left: 650px;
}
#received_reminders {
  position: absolute;
    top: 390px;
    left: 650px;
    font-size: 20px;
}


